In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns # pyright: ignore[reportMissingModuleSource]
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('exams.csv')

In [5]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [6]:
df.shape

(1000, 8)

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(1)

In [9]:
#we techinically have to delete the duplicates

In [10]:
print(df[df.duplicated()])

    gender race/ethnicity parental level of education     lunch  \
825   male        group E          associate's degree  standard

    test preparation course  math score  reading score  writing score
825               completed         100            100            100

In [11]:
df = df.drop_duplicates()

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.describe()

       math score  reading score  writing score
count  999.000000     999.000000     999.000000
mean    66.362362      68.970971      67.705706
std     15.373794      14.711935      15.575322
min     13.000000      27.000000      23.000000
25%     56.000000      60.000000      58.000000
50%     66.000000      70.000000      68.000000
75%     77.000000      79.000000      79.000000
max    100.000000     100.000000     100.000000

In [14]:
#exploring the data

In [20]:
print("Categories in gender variable: ", end=" ")
print(df['gender'].unique())

print("Categories in race variable: ", end=" ")
print(df['race/ethnicity'].unique())

print("Categories in parental level of education variable: ", end=" ")
print(df['parental level of education'].unique())

print("Categories in lunch variable: ", end=" ")
print(df['lunch'].unique())

print("Categories in test preparation course variable: ", end=" ")
print(df['test preparation course'].unique())

Categories in gender variable:  ['male' 'female']
Categories in race variable:  ['group A' 'group D' 'group E' 'group B' 'group C']
Categories in parental level of education variable:  ['high school' 'some high school' 'some college' "associate's degree"
 "bachelor's degree" "master's degree"]
Categories in lunch variable:  ['standard' 'free/reduced']
Categories in test preparation course variable:  ['completed' 'none']

In [21]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [22]:
numeric_features

['math score', 'reading score', 'writing score']

In [24]:
categorical_features

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course']

In [25]:
#adding columns for total score and average score

In [26]:
df['total_score'] = df['math score'] + df['reading score']+df['writing score']
df['average'] = df['total_score']/3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average
0,male,group A,high school,standard,completed,67,67,63,197,65.666667
1,female,group D,some high school,free/reduced,none,40,59,55,154,51.333333
2,male,group E,some college,free/reduced,none,59,60,50,169,56.333333
3,male,group B,high school,standard,none,77,78,68,223,74.333333
4,male,group E,associate's degree,standard,completed,78,73,68,219,73.000000

In [28]:
max_math_score = df['math score'].max()

# Find the highest reading score in the dataset
max_reading_score = df['reading score'].max()

max_writing_score = df['writing score'].max()

# Find the highest total score in the dataset
max_total_score = df['total_score'].max()

# --- Step 2: Count the number of students with the max score in each category ---
# Count students with the maximum math score
students_with_max_math = len(df[df['math score'] == max_math_score])

# Count students with the maximum reading score
students_with_max_reading = len(df[df['reading score'] == max_reading_score])

students_with_max_writing = len(df[df['writing score'] == max_writing_score])
# Count students with the maximum total score
students_with_max_total = len(df[df['total_score'] == max_total_score])

# --- Step 3: Print the results ---
print(f"Maximum Scores:")
print(f"  Max Math Score: {max_math_score}")
print(f"  Max Reading Score: {max_reading_score}")
print(f" Max writing Score: {max_writing_score}")
print(f"  Max Total Score: {max_total_score}")
print("\nNumber of Students with Maximum Scores:")
print(f"  Students with max math score: {students_with_max_math}")
print(f"  Students with max reading score: {students_with_max_reading}")
print(f"  Students with max writing score: {students_with_max_writing}")

print(f"  Students with max total score: {students_with_max_total}")

# You can also print the rows of the students who achieved the max scores
print("\nDetails of students with max math score:")
print(df[df['math score'] == max_math_score])

print("\nDetails of students with max reading score:")
print(df[df['reading score'] == max_reading_score])

print("\nDetails of students with max writing score:")
print(df[df['writing score'] == max_writing_score])

print("\nDetails of students with max total score:")
print(df[df['total_score'] == max_total_score])

Maximum Scores:
  Max Math Score: 100
  Max Reading Score: 100
 Max writing Score: 100
  Max Total Score: 300

Number of Students with Maximum Scores:
  Students with max math score: 13
  Students with max reading score: 18
  Students with max writing score: 17
  Students with max total score: 4

Details of students with max math score:
     gender race/ethnicity parental level of education     lunch  \
44     male        group E                 high school  standard
128    male        group E                some college  standard
148  female        group E           bachelor's degree  standard
235    male        group C          associate's degree  standard
281    male        group E          associate's degree  standard
550  female        group E                some college  standard
584    male        group C           bachelor's degree  standard
593    male        group D           bachelor's degree  standard
634  female        group D             master's degree  standard
638    male        group E                 high school  standard
732    male        group E          associate's degree  standard
839    male        group E                some college  standard
964    male        group E           bachelor's degree  standard

    test preparation course  math score  reading score  writing score  \
44                     none         100             88             87
128               completed         100             84             87
148               completed         100            100            100
235               completed         100             91             90
281               completed         100            100            100
550               completed         100            100            100
584                    none         100             84             88
593               completed         100             97            100
634               completed         100            100            100
638                    none         100             82             80
732                    none         100             91             86
839               completed         100             84             88
964                    none         100             83             86

     total_score     average
44           275   91.666667
128          271   90.333333
148          300  100.000000
235          281   93.666667
281          300  100.000000
550          300  100.000000
584          272   90.666667
593          297   99.000000
634          300  100.000000
638          262   87.333333
732          277   92.333333
839          272   90.666667
964          269   89.666667

Details of students with max reading score:
     gender race/ethnicity parental level of education         lunch  \
96   female        group E          associate's degree      standard
148  female        group E           bachelor's degree      standard
185  female        group C             master's degree      standard
273  female        group E                 high school      standard
281    male        group E          associate's degree      standard
396  female        group D          associate's degree      standard
441  female        group C             master's degree      standard
530  female        group C                some college      standard
550  female        group E                some college      standard
552  female        group E             master's degree  free/reduced
634  female        group D             master's degree      standard
652  female        group C            some high school      standard
706  female        group D           bachelor's degree      standard
754  female        group A             master's degree      standard
780  female        group A           bachelor's degree      standard
857  female        group C             master's degree      standard
967  female        group E             master's degree  free/reduced
970  female        group D            some high school      standard

    test preparation course  math score  reading score  writing score  \
96                completed          95            100            100
148               completed         100            100            100
185                    none          91            100             99
273                    none          93            100             93
281               completed         100            100            100
396                    none          85            100            100
441               completed          86            100            100
530                    none          88            100             88
550               completed         100            100            100
552               completed          92            100             98
634               completed         100            100            100
652               completed          92            100             97
706                    none          89            100            100
754               completed          94            100            100
780               completed          91            100            100
857                    none          85            100             97
967                    none          84            100             99
970               completed          85            100             97

     total_score     average
96           295   98.333333
148          300  100.000000
185          290   96.666667
273          286   95.333333
281          300  100.000000
396          285   95.000000
441          286   95.333333
530          276   92.000000
550          300  100.000000
552          290   96.666667
634          300  100.000000
652          289   96.333333
706          289   96.333333
754          294   98.000000
780          291   97.000000
857          282   94.000000
967          283   94.333333
970          282   94.000000

Details of students with max writing score:
     gender race/ethnicity parental level of education         lunch  \
96   female        group E          associate's degree      standard
129  female        group D          associate's degree  free/reduced
148  female        group E           bachelor's degree      standard
281    male        group E          associate's degree      standard
396  female        group D          associate's degree      standard
441  female        group C             master's degree      standard
550  female        group E                some college      standard
591  female        group C          associate's degree      standard
593    male        group D           bachelor's degree      standard
604  female        group D           bachelor's degree      standard
626  female        group B             master's degree      standard
634  female        group D             master's degree      standard
706  female        group D           bachelor's degree      standard
754  female        group A             master's degree      standard
780  female        group A           bachelor's degree      standard
816  female        group C          associate's degree      standard
855  female        group D             master's degree      standard

    test preparation course  math score  reading score  writing score  \
96                completed          95            100            100
129               completed          83             95            100
148               completed         100            100            100
281               completed         100            100            100
396                    none          85            100            100
441               completed          86            100            100
550               completed         100            100            100
591               completed          90             95            100
593               completed         100             97            100
604               completed          89             93            100
626               completed          96             98            100
634               completed         100            100            100
706                    none          89            100            100
754               completed          94            100            100
780               completed          91            100            100
816               completed          94             99            100
855                    none          87             97            100

     total_score     average
96           295   98.333333
129          278   92.666667
148          300  100.000000
281          300  100.000000
396          285   95.000000
441          286   95.333333
550          300  100.000000
591          285   95.000000
593          297   99.000000
604          282   94.000000
626          294   98.000000
634          300  100.000000
706          289   96.333333
754          294   98.000000
780          291   97.000000
816          293   97.666667
855          284   94.666667

Details of students with max total score:
     gender race/ethnicity parental level of education     lunch  \
148  female        group E           bachelor's degree  standard
281    male        group E          associate's degree  standard
550  female        group E                some college  standard
634  female        group D             master's degree  standard

    test preparation course  math score  reading score  writing score  \
148               completed         100            100            100
281               completed         100            100            100
550               completed         100            100            100
634               completed         100            100            100

     total_score  average
148          300    100.0
281          300    100.0
550          300    100.0
634          300    100.0